* {
  padding: 0;
  /* margin: 0; */
  text-decoration: none;
  list-style: none;
}
nav {
  background-color: #34495e;
  width: 100%;
  height: 100px;
}
nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
nav ul li a {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
}
a.active,
a:hover {
  border: 1px solid white;
}
div.h1 {
  margin-top: 100px;
  margin: auto;
}
footer {
  background-color: #34495e;
  width: 100%;
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center; 
  color: white;
  padding: 10px 0; /
}

.contact, .text {
  text-align: center; 
  font-weight: bold;
}


.title {
  font-size: 20px;
  font-weight: bold; 
  margin-bottom: 10px; 
}
.warning {
  color: #E0E0E0; 
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}
strong {
  color: red; 
}
